<header class="container">
    <div class="imagen">
        <img src="https://i.pinimg.com/736x/e8/53/e3/e853e3ba564260eb78721b4124845e2a.jpg" alt="kevin">
    </div>
    <div class="content">
        <h3>About Personal</h3>
        <h1>Hello, Im<br>Kevin<span> Blas</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sed sint molestias suscipit ullam sequi error, ea dolore iusto obcaecati, possimus exercitationem rerum tenetur ad molestiae cumque repellendus consequuntur consequatur.</p>
    </div>
</header>
