<div class="container">
    <div class="bg"></div>
    <div class="content">
        <h2>Sobre mi</h2>
    <p>
        Después de estudiar Redes, descubrí mi verdadera pasión en el Desarrollo Full Stack. Creo que nunca es demasiado tarde para aprender y trabajar en algo que amas. He adquirido conocimientos en HTML, CSS, SASS, JavaScript, TypeScript y Angular, y estoy mejorando continuamente día a día. Mi próximo objetivo es profundizar en Node.js y API Rest, así como en Java y Spring Boot. Mi meta final es convertirme en un Desarrollador Full Stack. Aun así, continuaré enfocándome en los lenguajes y tecnologías que son más relevantes para mi crecimiento profesional y que me permitirán contribuir de manera efectiva a futuros proyectos.
    </p>
    </div>
</div>
