<div class="skills">
    <div class="container">
        <h2>Skills</h2>
        <div class="items">
            <div class="block">
                <h3>Desarrollo Frontend</h3>
                <div class="flex">
                    @for (item of logos[0]; track $index) {
                        <div class="item" #frontend (mouseover)="inSkill(frontend)" (mouseleave)="outSkill(frontend)">
                            <img [src]="item.img" alt="{{item.name}}" title="{{item.name}}">
                        </div>
                    }
                </div>
            </div>
            <div class="block">
                <h3>Desarrolo Backend</h3>
                <div class="flex">
                    @for (item of logos[1]; track $index) {
                        <div class="item" #backend (mouseover)="inSkill(backend)" (mouseleave)="outSkill(backend)">
                            <img [src]="item.img" alt="{{item.name}}" title="{{item.name}}">
                        </div>
                    }
                </div>
            </div>
            <div class="block">
                <h3>Tecnologías y Herramientas</h3>
                <div class="flex">
                    @for (item of logos[2]; track $index) {
                        <div class="item"  #tools (mouseover)="inSkill(tools)" (mouseleave)="outSkill(tools)">
                            <img [src]="item.img" alt="{{item.name}}" title="{{item.name}}">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>