@mixin mediaQuerie($bp){
    @media screen and (min-width: map-get($breakpoint, $bp)) {
        @content;
    }
}
@mixin styleH2(){
    cursor: default;
    color: var(--secondary-color-contrast);
    font-size: clamp(1.7rem, 1.05rem + 2.6vw, 3rem);
    text-shadow: 1px 1px 5px var(--accent-color-contrast), 1px 1px 15px var(--accent-color-contrast);
}