//FUENTES
//LIBRE BASKERVILLE
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
//Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//BEBAS NEUE
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//BREAKPOINT
$breakpoint: (
    small: 0px,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px
);

// Z-INDEX
$z-back: -1;
$z-normal: 1;
$z-element: 10;
$z-fixed: 100;
$z-popup: 500;
$z-modal: 1000;

//PALETAS DE COLORES

//COLORES PRIMARIOS
$negro-intenso: #0C0C0C;
$gris-oscuro: #3D3D3D;
$negro-absoluto: #000000;
//COLORES SECUNDARIOS
$blanco-humo: #F1F1F1;
$gris-plateado: #B4B4B4;
$blanco-absoluto: #FFFFFF;
//COLORES DE ACENTO
$rojo-sangre: #8B0000;
$rojo-oscuro: #560000;
$rojo-brillante: #FF1111;

:root{
    --primary-color-default: #{$negro-intenso};
    --primary-color-muted: #{$gris-oscuro};
    --primary-color-contrast: #{$negro-absoluto};

    --secondary-color-default: #{$blanco-humo};
    --secondary-color-muted: #{$gris-plateado};
    --secondary-color-contrast: #{$blanco-absoluto};

    --accent-color-default: #{$rojo-sangre};
    --accent-color-muted: #{$rojo-oscuro};
    --accent-color-contrast: #{$rojo-brillante};
}