@import '../../../../styles.scss';

.container{
    min-width: 300px;
    position: relative;
    .content{
        padding: 1em clamp(1rem, -0.765rem + 9.412vw, 3rem);
        text-align: center;
        .show-info{
            cursor: pointer;
            color: var(--secondary-color-default);
            padding: 10px 25px;
            outline: 1px solid var(--secondary-color-default);
            background-color: var(--accent-color-default);
            font-size: clamp(1rem, 0.786rem + 0.536vw, 1.188rem);
            &:active{
                transform: scale(.95);
            }
        }
        .info{
            position: fixed;
            width: 100%;
            height: 100vh;
            top: -3em;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: $z-popup;
            .text{
                position: relative;
                padding: 1em .5em;
                p{
                    width: 100%;
                    margin: auto;
                    font-size: clamp(1rem, 0.786rem + 0.536vw, 1.188rem);
                    color: var(--primary-color-default);
                    text-wrap: pretty;
                    background-color: var(--accent-color-default);
                    padding: 1em;
                    box-shadow: 0 0 10px var(--secondary-color-default);
                }
                .close-info{
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 20px;
                    background-color: var(--secondary-color-default);
                    border-radius: 50%;
                    padding: 3px;
                    box-shadow: inset 0 0 5px var(--accent-color-default), 0 0 10px var(--secondary-color-default);;
                    svg{
                        fill: var(--accent-color-default);
                        display: block;
                    }
                    &:active{
                    transform: scale(.95);
                    }
                }
            }
        }
    }
}

@include mediaQuerie(medium){
    .container{
        .content{
            margin: auto;
            max-width: 1200px;
            p{
                margin: auto;
                width: 90%;
                max-width: 800px;
            }
        }
    }
}