<div class="container">
    <div class="bg"></div>
    <div class="content">
        <h2>Sobre mi</h2>
    <p>
        Después de estudiar Redes, descubrí mi pasión por el Desarrollo Full Stack. Creo que nunca es tarde para aprender y trabajar en lo que amas. He adquirido conocimientos en HTML, CSS, SASS, JavaScript, TypeScript y Angular, y sigo mejorando cada día. Mi próximo objetivo es profundizar en Node.js, Java y Spring Boot. Aspiro a ser Desarrollador Full Stack, enfocándome en tecnologías que impulsen mi crecimiento profesional y me permitan contribuir a proyectos futuros.
    </p>
    </div>
</div>
