<div class="container">
    <div class="bg"></div>
    <div class="content">
        <button class="show-info" (click)="showInfo()">Sobre mi</button>
    <div class="info" *ngIf="isActive">
        <div class="text">
            <p>
                Después de estudiar Redes, descubrí mi pasión por el Desarrollo Full Stack. Estoy convencido de que nunca es tarde para aprender y trabajar en lo que amas. He adquirido habilidades en HTML, CSS, SASS, Tailwind, JavaScript, TypeScript, React y Angular para el entorno Frontend, y me esfuerzo por mejorar cada día. Para el entorno Backend he aprendido Node.js, Express y MongoDB, lo que me ha permitido expandir mis conocimientos. Recientemente he estado aprendiendo sobre NextJs y mi próximo objetivo es profundizar en bases de datos SQL utilizando Sequelize, y como último paso, aprender Java y Spring Boot, ya que sé que esto requiere más tiempo. Aspiro a ser Desarrollador Full Stack y busco oportunidades para ganar experiencia y contribuir a proyectos innovadores en el futuro.
            </p>
            <button (click)="showInfo()" class="close-info">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </button>
        </div>
    </div>
    </div>
</div>
