@import '../styles.scss';
.bg{
    width: 100%;
    min-width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    background: rgb(26,44,50);
    background: radial-gradient(circle, rgba(26,44,50,1) 0%, rgba(0,0,0,1) 100%);
}