@if (project) {
    <section class="project">
        <div class="container">
            <div class="block">
                <h3>Diseño Original</h3>
                <div class="original">
                    <div class="img layout">
                        <img [src]="project.imgOriginal" [alt]="project.title">
                    </div>
                </div>
            </div>
            <div class="block">
                <h3>Modo {{modeCurrent}}</h3>
                <div class="clones">
                    <div class="slider layout">
                        <div class="images" [ngStyle]="{'left': leftPosition}">
                            <div class="item">
                                <img [src]="project.images.small" alt="">
                            </div>
                            <div class="item">
                                <img [src]="project.images.medium" alt="">
                            </div>
                            <div class="item">
                                <img [src]="project.images.large" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    @for (item of modeScreen; track $index) {
                        <button (click)="changeMode($index)" [ngClass]="{'active': active === $index}">{{item}}</button>
                    }
                </div>
            </div>
            <button class="close" (click)="back()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </button>
        </div>
    </section>
} @else {
    <app-not-found></app-not-found> 
}