@import '../../../styles.scss';
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 550px;
    .img{
        width: 100%;
        height: 100%;
        position: absolute;
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: 80% 0;
            filter: brightness(.5);
        }
    }
    .show{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        .go-back{
            background-color: var(--primary-color-contrast);
            padding: 1.5em 4em;
            border-radius: 10px;
            cursor: pointer;
            outline: 3px solid var(--secondary-color-contrast);
            a{
                pointer-events: none;
                color: var(--secondary-color-contrast);
                font-size: clamp(2rem, 0.757rem + 6.63vw, 5rem);
            }
        }
    }
}