@import '../../../styles.scss';
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    height: 3rem;
    padding: 0 clamp(1rem, 0.559rem + 2.353vw, 1.5rem);
    position: sticky;
    top: 0;
    margin-bottom: -3em;
    background: radial-gradient(circle, rgba(26,44,50,.8) 0%, rgba(50,81,88,.7) 100%);
    backdrop-filter: blur(10px);
    z-index: $z-fixed;
    .logo{
        font-size: clamp(1.75rem, 1.75rem + 0.278vw, 2rem);
        @include textShadowAccent;
        color: var(--secondary-color-default);
        font-family: 'Bebas Neue', serif;
        z-index: $z-element;
    }
    .menu{
        display: none;
        transition: left .25s;
        &.small{
            background: radial-gradient(circle, rgba(26,44,50,.8) 0%, rgba(50,81,88,.7) 100%);
            backdrop-filter: blur(10px);
            position: fixed;
            top: 3rem;
            bottom: 0;
            width: 200px;
            height: calc(100vh - 3rem);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 1em;
            padding-top: 4em;
            z-index: $z-fixed;
        }
        .link{
            cursor: pointer;
            font-size: clamp(1rem, 0.559rem + 2.353vw, 1.5rem);
            color: var(--secondary-color-default);
            padding-left: .5em;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .menu-toggle{
        z-index: $z-fixed;
        cursor: pointer;
        svg{
            width: 25px;
            fill: var(--secondary-color-default);
            &:hover{
                color: var(--secondary-color-contrast);
            }
            &:active{
                color: var(--secondary-color-muted);
            }
        }
    }
    .layer-menu{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: black, $alpha: .7);
        z-index: $z-normal;
        opacity: .5;
        &.hidden{
            display: none;
        }
    }
}
@include mediaQuerie(medium){
    .nav{
        .menu{
            &.large{
                display: flex;
                gap: clamp(3rem, 2.286rem + 1.905vw, 4rem);
            }
        }
        .menu-toggle{
            display: none;
        }
        .layer-menu{
            display: none;
        }
    }
}